
<!--<p>Here comes the <b>bindable HTML</b> popover contents!!!</p>-->
<!--<p>Number: {{number}}</p>-->


<div>
    <div ng-mouseup="closePopover()" class="close">&times;</div>
    <!--<b>{{layer.title}}</b><br/>{{layer.abstract | plainTextToHtml}}<p>Legend:<br/><img src='{{layer.legendGraphic}}'/></p>-->
    <p>Transparency Selection</p>
    <!--<rzslider rz-slider-model='layer.transparencySlider.value'-->
              <!--rz-slider-ceil='layer.transparencySlider.ceil'-->
              <!--rz-slider-floor='layer.transparencySlider.floor'-->
              <!--rz-slider-on-change='onTransparencyChange(layer)'></rzslider>-->
    <!--<select name="singleSelect" id="singleSelect" ng-model="data.singleSelect">-->
        <!--<option value="{{data.option1}}">Option 1</option> &lt;!&ndash; interpolation &ndash;&gt;-->
        <!--<option value="{{data.option2}}">Option 2</option> </select><br>-->

    <!--<input type="range" min="0" max="100" step="1" value="{{layer.transparencySlider.value}}" ng-model="layer.transparencySlider.value">-->
    <!--<input type="range" min="0" max="100" step="1" value="{{avalue}}" ng-mouseup="setSliderValue(avalue)"/>-->
</div>